@use 'var';

.about{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: #{var.$color_bk};
  padding: 4rem 0;

  &_container{
    margin: 3rem 0;
    display: grid;
    grid-template-columns: 30% 70%;
    
  }

  &_title{
    width: 50vw;
    margin: 0 auto;
    font-size: 3rem;
    text-align: center;
  }

  &_img{
    margin: 0 auto;
    width: 300px;
    height: 400px;
    border-radius: 16px;
  }

  &_p_container{
    display: grid;
    grid-template-rows: repeat(4,1fr);
  }

  &_p{
    margin: auto;
    width: 100%;
    font-size: 2rem;
  }
}