@use 'var';

.header {
	display: flex;
	height: 100vh;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	background-color: #{var.$color_primary};
	color: #{var.$color_black};

	&_title {
		text-align: left;
		padding: 0;
	}
}
