@use 'var';

.header{
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: #{var.$color_primary};

  &_title{
    text-align: left;
    padding: 0;
  }
}