@use 'normalize';
@use 'var';
@use 'app';
@use 'header';
@use 'about';
@use 'projects';
@use 'project_card';
@use 'contact';
@use 'footer';

body{
  font-family: #{var.$font_family};
  color: #{var.$color_black};

  &::-webkit-scrollbar{
    //width: .6rem;
    //background-color: #{var.$color_black};
    display: none;
  }

  //&::-webkit-scrollbar-thumb{
  //  background-color: #{var.$color_primary};
  // border-radius: 2px;
  //}
}