@use 'normalize';
@use 'var';
@use 'app';
@use 'header';
@use 'about';

body{
  font-family: #{var.$font_family};
  color: #{var.$color_black};

  &::-webkit-scrollbar{
    width: .6rem;
    background-color: #{var.$color_black};
  }

  &::-webkit-scrollbar-thumb{
    background-color: #{var.$color_red};
    border-radius: 1rem;
  }
}